.header {
    text-align: center;
    font-family: sans-serif;
}

.message {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
    background-color: red;
    color: white;
    padding: 10px;
    width: 50%;
    font-weight: bold;
    border-radius: 5px;
}

mat-form-field, mat-select, [mat-raised-button] {
    display: block;
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .message {
        width: 90%;
    }
    mat-form-field, mat-select, [mat-raised-button] {
        width: 90%;
    }
  }